.Content {
  overflow-y: scroll;
  scroll-margin-bottom: 10px;
  display: grid;
  height: 100%;
  padding: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Content::-webkit-scrollbar {
  display: none;
}
