.SearchBar {
  height: 35px;
  background-color: var(--color-black);
  color: var(--color-grey);
  font-weight: 300;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  margin: 10px 20px;
  outline: none;
}

.icon {
  position: relative;
  top: 5px;
  left: 5px;
  color: var(--color-grey);
}
